In [1]:
import sys 
sys.path.append("../../")

from br_demography  import municipality_migration as mm
import basedosdados as bd
from dotenv import load_dotenv
import os
import pandas as pd
import numpy as np

# Carrega as variáveis de ambiente do arquivo .env
load_dotenv(dotenv_path='../../.env')

# Use as variáveis de ambiente conforme necessário
project_id = os.getenv('GOOGLE_CLOUD_PROJECT_ID')

##### AQUI NÃO É POSSÍVEL FAZER UMA AVALIAÇÃO DE QUANTO SERÁ O SALDO MIGRATÓRIO DA REGIÃO, POIS OS DADOS AGREGADOS PARA CADA MUNICÍPIO
##### OU SEJA, O SALDO MIGRATÓRIO DE UM MUNICÍPIO INCLUI OS TROCAS INCLUSIVE COM OUTROS MUNICÍPIOS DA RM, OU SEJA, QUE NAO ALTERAM A POPULAÇÃO REGIONAL

In [2]:
mm.query_total_population(mun_id=4125506, project_id=project_id)

Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.39rows/s]

        f0_
0  264210.0

In [3]:
df_mun = pd.read_csv('../../br_demography/source/tab/cod_mun.csv', sep=';', index_col='mun_id')

dict_dfs = dict()

for mun_id, mun in df_mun.itertuples():
    df_immigration_mun_2000 = mm.query_immigration_by_sex_age_2000(mun_id=mun_id, project_id=project_id)
    df_immigration_mun_2000 = mm.standard_age_groups(df=df_immigration_mun_2000, age_group_csv_path='../../br_demography/source/tab/faixas_etarias_censo_2000_2010.csv')
    df_immigration_mun_2000['Município'] = mun
    df_immigration_mun_2000['Ano'] = 2000
    df_immigration_mun_2000 = df_immigration_mun_2000.reset_index().set_index(['Ano', 'Município', 'Sexo','Faixa Etária'])

    df_immigration_mun_2010 = mm.query_immigration_by_sex_age(mun_id=mun_id, project_id=project_id)
    df_immigration_mun_2010 = mm.standard_age_groups(df=df_immigration_mun_2010, age_group_csv_path='../../br_demography/source/tab/faixas_etarias_censo_2000_2010.csv')
    df_immigration_mun_2010['Município'] = mun
    df_immigration_mun_2010['Ano'] = 2010
    df_immigration_mun_2010 = df_immigration_mun_2010.reset_index().set_index(['Ano', 'Município', 'Sexo','Faixa Etária'])

    df_immigration_mun = pd.concat(objs=[df_immigration_mun_2000, df_immigration_mun_2010])

    dict_dfs[mun] = df_immigration_mun

df_immigrantion = pd.concat(objs=dict_dfs.values())
df_immigrantion

Downloading: 100%|██████████| 59/59 [00:00<00:00, 193.95rows/s]
Downloading: 100%|██████████| 100/100 [00:00<00:00, 243.14rows/s]
Downloading: 100%|██████████| 90/90 [00:00<00:00, 221.76rows/s]
Downloading: 100%|██████████| 103/103 [00:00<00:00, 333.99rows/s]
Downloading: 100%|██████████| 144/144 [00:00<00:00, 317.56rows/s]
Downloading: 100%|██████████| 146/146 [00:00<00:00, 389.31rows/s]
Downloading: 100%|██████████| 143/143 [00:00<00:00, 466.40rows/s]
Downloading: 100%|██████████| 152/152 [00:00<00:00, 369.91rows/s]
Downloading: 100%|██████████| 101/101 [00:00<00:00, 324.10rows/s]
Downloading: 100%|██████████| 113/113 [00:00<00:00, 276.07rows/s]
Downloading: 100%|██████████| 117/117 [00:00<00:00, 393.74rows/s]
Downloading: 100%|██████████| 129/129 [00:00<00:00, 416.36rows/s]
Downloading: 100%|██████████| 133/133 [00:00<00:00, 394.27rows/s]
Downloading: 100%|██████████| 129/129 [00:00<00:00, 416.31rows/s]
Downloading: 100%|██████████| 78/78 [00:00<00:00, 244.54rows/s]
Downloading: 100%|██████████| 113/113 [00:00<00:00, 271.64rows/s]
Downloading: 100%|██████████| 129/129 [00:00<00:00, 309.61rows/s]
Downloading: 100%|██████████| 148/148 [00:00<00:00, 431.91rows/s]
Downloading: 100%|██████████| 107/107 [00:00<00:00, 364.35rows/s]
Downloading: 100%|██████████| 115/115 [00:00<00:00, 424.63rows/s]
Downloading: 100%|██████████| 50/50 [00:00<00:00, 121.88rows/s]
Downloading: 100%|██████████| 86/86 [00:00<00:00, 274.22rows/s]
Downloading: 100%|██████████| 157/157 [00:00<00:00, 306.39rows/s]
Downloading: 100%|██████████| 154/154 [00:00<00:00, 418.13rows/s]
Downloading: 100%|██████████| 99/99 [00:00<00:00, 319.31rows/s]
Downloading: 100%|██████████| 123/123 [00:00<00:00, 297.04rows/s]
Downloading: 100%|██████████| 175/175 [00:00<00:00, 425.40rows/s]
Downloading: 100%|██████████| 172/172 [00:00<00:00, 588.20rows/s]
Downloading: 100%|██████████| 145/145 [00:00<00:00, 466.68rows/s]
Downloading: 100%|██████████| 154/154 [00:00<00:00, 354.79rows/s]
Downloading: 100%|██████████| 64/64 [00:00<00:00, 154.53rows/s]
Downloading: 100%|██████████| 77/77 [00:00<00:00, 186.90rows/s]
Downloading: 100%|██████████| 104/104 [00:00<00:00, 368.28rows/s]
Downloading: 100%|██████████| 106/106 [00:00<00:00, 380.29rows/s]
Downloading: 100%|██████████| 108/108 [00:00<00:00, 392.24rows/s]
Downloading: 100%|██████████| 116/116 [00:00<00:00, 281.92rows/s]
Downloading: 100%|██████████| 95/95 [00:00<00:00, 247.55rows/s]
Downloading: 100%|██████████| 97/97 [00:00<00:00, 117.90rows/s]
Downloading: 100%|██████████| 150/150 [00:00<00:00, 254.15rows/s]
Downloading: 100%|██████████| 156/156 [00:00<00:00, 382.93rows/s]
Downloading: 100%|██████████| 149/149 [00:00<00:00, 363.29rows/s]
Downloading: 100%|██████████| 155/155 [00:00<00:00, 348.64rows/s]
Downloading: 100%|██████████| 123/123 [00:00<00:00, 419.67rows/s]
Downloading: 100%|██████████| 131/131 [00:00<00:00, 318.29rows/s]
Downloading: 100%|██████████| 109/109 [00:00<00:00, 214.61rows/s]
Downloading: 100%|██████████| 129/129 [00:00<00:00, 313.90rows/s]
Downloading: 100%|██████████| 82/82 [00:00<00:00, 231.14rows/s]
Downloading: 100%|██████████| 84/84 [00:00<00:00, 237.80rows/s]
Downloading: 100%|██████████| 89/89 [00:00<00:00, 216.22rows/s]
Downloading: 100%|██████████| 112/112 [00:00<00:00, 326.74rows/s]
Downloading: 100%|██████████| 159/159 [00:00<00:00, 581.06rows/s]
Downloading: 100%|██████████| 158/158 [00:00<00:00, 465.66rows/s]
Downloading: 100%|██████████| 113/113 [00:00<00:00, 393.10rows/s]
Downloading: 100%|██████████| 130/130 [00:00<00:00, 420.61rows/s]
Downloading: 100%|██████████| 56/56 [00:00<00:00, 208.64rows/s]
Downloading: 100%|██████████| 106/106 [00:00<00:00, 307.17rows/s]
Downloading: 100%|██████████| 46/46 [00:00<00:00, 96.68rows/s]
Downloading: 100%|██████████| 54/54 [00:00<00:00, 178.88rows/s]

                                                    Peso
Ano  Município      Sexo      Faixa Etária
2000 Adrianópolis   Feminino  0 a 9 anos       10.293958
                              10 a 19 anos     66.919097
                              20 a 29 anos     25.462694
                              30 a 39 anos     31.770795
                              40 a 49 anos     12.823922
...                                                  ...
2010 Doutor Ulysses Masculino 40 a 49 anos     16.192537
                              50 a 59 anos      0.000000
                              60 a 69 anos      2.565268
                              70 a 79 anos      0.000000
                              80 anos ou mais   0.000000

[1044 rows x 1 columns]

In [4]:
dict_dfs = dict()

for mun_id, mun in df_mun.itertuples():

    df_emigration_mun_2000 = mm.query_emigration_by_sex_age_2000(mun_id=mun_id, project_id=project_id)
    df_emigration_mun_2000 = mm.standard_age_groups(df=df_emigration_mun_2000, age_group_csv_path='../../br_demography/source/tab/faixas_etarias_censo_2000_2010.csv')
    df_emigration_mun_2000['Município'] = mun
    df_emigration_mun_2000['Ano'] = 2000
    df_emigration_mun_2000 = df_emigration_mun_2000.reset_index().set_index(['Ano', 'Município', 'Sexo','Faixa Etária'])

    df_emigration_mun_2010 = mm.query_emigration_by_sex_age(mun_id=mun_id, project_id=project_id)
    df_emigration_mun_2010 = mm.standard_age_groups(df=df_emigration_mun_2010, age_group_csv_path='../../br_demography/source/tab/faixas_etarias_censo_2000_2010.csv')
    df_emigration_mun_2010['Município'] = mun
    df_emigration_mun_2010['Ano'] = 2010
    df_emigration_mun_2010 = df_emigration_mun_2010.reset_index().set_index(['Ano', 'Município', 'Sexo','Faixa Etária'])

    df_emigration_mun = pd.concat(objs=[df_emigration_mun_2000, df_emigration_mun_2010])

    dict_dfs[mun] = df_emigration_mun

df_emigrantion = pd.concat(objs=dict_dfs.values())
df_emigrantion

Downloading: 100%|██████████| 85/85 [00:00<00:00, 339.78rows/s]
Downloading: 100%|██████████| 88/88 [00:00<00:00, 296.77rows/s]
Downloading: 100%|██████████| 74/74 [00:00<00:00, 229.63rows/s]
Downloading: 100%|██████████| 77/77 [00:00<00:00, 188.69rows/s]
Downloading: 100%|██████████| 116/116 [00:00<00:00, 369.92rows/s]
Downloading: 100%|██████████| 128/128 [00:00<00:00, 414.59rows/s]
Downloading: 100%|██████████| 127/127 [00:00<00:00, 307.10rows/s]
Downloading: 100%|██████████| 143/143 [00:00<00:00, 346.75rows/s]
Downloading: 100%|██████████| 41/41 [00:00<00:00, 61.45rows/s]
Downloading: 100%|██████████| 59/59 [00:00<00:00, 143.74rows/s]
Downloading: 100%|██████████| 67/67 [00:00<00:00, 207.09rows/s]
Downloading: 100%|██████████| 82/82 [00:00<00:00, 189.95rows/s]
Downloading: 100%|██████████| 92/92 [00:00<00:00, 240.03rows/s]
Downloading: 100%|██████████| 115/115 [00:00<00:00, 369.87rows/s]
Downloading: 100%|██████████| 55/55 [00:00<00:00, 179.08rows/s]
Downloading: 100%|██████████| 69/69 [00:00<00:00, 222.15rows/s]
Downloading: 100%|██████████| 128/128 [00:00<00:00, 335.68rows/s]
Downloading: 100%|██████████| 140/140 [00:00<00:00, 344.34rows/s]
Downloading: 100%|██████████| 31/31 [00:00<00:00, 89.40rows/s]
Downloading: 100%|██████████| 92/92 [00:00<00:00, 232.57rows/s]
Downloading: 100%|██████████| 101/101 [00:00<00:00, 371.71rows/s]
Downloading: 100%|██████████| 91/91 [00:00<00:00, 299.49rows/s]
Downloading: 100%|██████████| 135/135 [00:00<00:00, 212.79rows/s]
Downloading: 100%|██████████| 152/152 [00:00<00:00, 497.87rows/s]
Downloading: 100%|██████████| 67/67 [00:00<00:00, 244.63rows/s]
Downloading: 100%|██████████| 81/81 [00:00<00:00, 263.82rows/s]
Downloading: 100%|██████████| 178/178 [00:00<00:00, 402.33rows/s]
Downloading: 100%|██████████| 177/177 [00:00<00:00, 571.87rows/s]
Downloading: 100%|██████████| 95/95 [00:00<00:00, 303.22rows/s]
Downloading: 100%|██████████| 135/135 [00:00<00:00, 327.32rows/s]
Downloading: 100%|██████████| 42/42 [00:00<00:00, 128.62rows/s]
Downloading: 100%|██████████| 53/53 [00:00<00:00, 128.71rows/s]
Downloading: 100%|██████████| 112/112 [00:00<00:00, 361.83rows/s]
Downloading: 100%|██████████| 113/113 [00:00<00:00, 391.43rows/s]
Downloading: 100%|██████████| 89/89 [00:00<00:00, 308.05rows/s]
Downloading: 100%|██████████| 92/92 [00:00<00:00, 298.48rows/s]
Downloading: 100%|██████████| 43/43 [00:00<00:00, 136.77rows/s]
Downloading: 100%|██████████| 80/80 [00:00<00:00, 229.98rows/s]
Downloading: 100%|██████████| 129/129 [00:00<00:00, 381.90rows/s]
Downloading: 100%|██████████| 140/140 [00:00<00:00, 348.20rows/s]
Downloading: 100%|██████████| 108/108 [00:00<00:00, 173.34rows/s]
Downloading: 100%|██████████| 135/135 [00:00<00:00, 552.46rows/s]
Downloading: 100%|██████████| 82/82 [00:00<00:00, 309.70rows/s]
Downloading: 100%|██████████| 102/102 [00:00<00:00, 337.31rows/s]
Downloading: 100%|██████████| 79/79 [00:00<00:00, 255.12rows/s]
Downloading: 100%|██████████| 77/77 [00:00<00:00, 187.87rows/s]
Downloading: 100%|██████████| 85/85 [00:00<00:00, 206.45rows/s]
Downloading: 100%|██████████| 95/95 [00:00<00:00, 309.93rows/s]
Downloading: 100%|██████████| 101/101 [00:00<00:00, 247.22rows/s]
Downloading: 100%|██████████| 104/104 [00:00<00:00, 417.03rows/s]
Downloading: 100%|██████████| 146/146 [00:00<00:00, 424.41rows/s]
Downloading: 100%|██████████| 151/151 [00:00<00:00, 539.46rows/s]
Downloading: 100%|██████████| 63/63 [00:00<00:00, 207.78rows/s]
Downloading: 100%|██████████| 85/85 [00:00<00:00, 316.53rows/s]
Downloading: 100%|██████████| 22/22 [00:00<00:00, 54.45rows/s]
Downloading: 100%|██████████| 100/100 [00:00<00:00, 162.27rows/s]
Downloading: 100%|██████████| 26/26 [00:00<00:00, 90.32rows/s]
Downloading: 100%|██████████| 57/57 [00:00<00:00, 182.57rows/s]

                                                     Peso
Ano  Município      Sexo      Faixa Etária
2000 Adrianópolis   Feminino  0 a 9 anos        55.555053
                              10 a 19 anos     131.291200
                              20 a 29 anos     182.137986
                              30 a 39 anos      62.451511
                              40 a 49 anos      48.380681
...                                                   ...
2010 Doutor Ulysses Masculino 40 a 49 anos      28.248611
                              50 a 59 anos       0.000000
                              60 a 69 anos      12.307835
                              70 a 79 anos       0.000000
                              80 anos ou mais    0.000000

[1044 rows x 1 columns]

## Calculando a Proporção de cada Faixa Etária no Saldo Migratório

In [26]:
df__proporcao_saldo = ((df_immigrantion - df_emigrantion) /5).round().astype(int)
df__proporcao_saldo = (
    df__proporcao_saldo
    .reset_index()
    .groupby(by=['Ano', 'Município', 'Sexo', 'Faixa Etária'], as_index=False)
    .sum()
    .rename(columns={'Peso':'Saldo Migratório'})
#    .pivot(index=['Ano','Município'], columns=['Sexo', 'Faixa Etária'])
)

# Agrupar por Ano, Município e Sexo e calcular a soma total do saldo migratório para cada grupo
df__proporcao_saldo['Total Saldo Migratório por Grupo'] = df__proporcao_saldo.groupby(['Ano', 'Município', 'Sexo'])['Saldo Migratório'].transform('sum')

# Calcular a proporção do saldo migratório para cada linha em relação ao total do grupo
df__proporcao_saldo['Proporção do Saldo Migratório'] = df__proporcao_saldo['Saldo Migratório'] / df__proporcao_saldo['Total Saldo Migratório por Grupo']

df__proporcao_saldo.to_csv('../../br_demography/results/tab/proporcoes_saldo_migratorio.csv', sep=';', decimal=',', encoding='utf-16', index=False)

df__proporcao_saldo.head()

,Ano,Município,Sexo,Faixa Etária,Saldo Migratório,Total Saldo Migratório por Grupo,Proporção do Saldo Migratório
0,2000,Adrianópolis,Feminino,0 a 9 anos,-9,-73,0.123288
1,2000,Adrianópolis,Feminino,10 a 19 anos,-13,-73,0.178082
2,2000,Adrianópolis,Feminino,20 a 29 anos,-31,-73,0.424658
3,2000,Adrianópolis,Feminino,30 a 39 anos,-6,-73,0.082192
4,2000,Adrianópolis,Feminino,40 a 49 anos,-7,-73,0.095890

In [27]:
df_saldo = ((df_immigrantion - df_emigrantion) /5).round().astype(int)
df_saldo = (
    df_saldo
    .reset_index()
    .groupby(by=['Ano', 'Município'], as_index=False)
    .sum()
    .rename(columns={'Peso':'Saldo Migratório'})
    .pivot(index='Município', columns='Ano')
)

df_saldo.head()

                    Saldo Migratório
Ano                             2000  2010
Município
Adrianópolis                    -178   -48
Agudos do Sul                    -19    10
Almirante Tamandaré             2469  1380
Araucária                       1893  2302
Balsa Nova                       191   205

In [28]:
df_pop = pd.read_csv(filepath_or_buffer='../../br_demography/results/tab/pop_municipios_rmc_2000_2022_estimativa_intercensitaria.csv', sep=';')
#df_pop[df_pop['Faixa Etária'].isin(values=df_deaths.index)]
df_pop.set_index(keys=['Município', 'Sexo','Faixa Etária'], inplace=True)
df_pop.columns = df_pop.columns.astype(int)
df_pop = (
    df_pop
    .reset_index()
    .groupby(by=['Município'])[2010, 2022]
    .sum()
)

df_pop['Crescimento Pop 2010-2022'] = df_pop[2022] - df_pop[2010]

df_pop.iloc[np.r_[0:2, -2:0]]

                  2010   2022  Crescimento Pop 2010-2022
Município
Adrianópolis      6376   6256                       -120
Agudos do Sul     8270  10233                       1963
Tijucas do Sul   14538  17621                       3083
Tunas do Paraná   6256   6219                        -37

In [34]:
df_deaths = pd.read_csv('../../br_demography/results/tab/obitos_rmc_2000_2022.csv', sep=';', decimal=',', encoding='utf-16')

df_deaths = (
    df_deaths
    .groupby(by='Município')
    .sum()
    .loc[:,list(str(year) for year in range(2010, 2022))]
    .sum(axis=1)
    .to_frame()
    .rename(columns={0:'Óbitos 2010 a 2022'})
)

In [54]:
df_births = pd.read_csv('../../br_demography/results/tab/nascimentos_rmc_2000_2022.csv', sep=';', decimal=',', encoding='utf-16')
df_births = (
    df_births
    .drop(columns=['Unnamed: 0'])
    .groupby(by='Município')
    .sum()
    .loc[:,list(str(year) for year in range(2010, 2022))]
    .sum(axis=1)
    .to_frame()
    .rename(columns={0:'Nascimentos 2010 a 2022'})
)

In [58]:
df_pop = pd.concat(
    objs=[
        df_pop
        ,df_births
        ,df_deaths
    ]
    , axis=1
)

In [61]:
df_pop['Crescimento Vegetativo 2010 a 2022'] = df_pop['Nascimentos 2010 a 2022'] - df_pop['Óbitos 2010 a 2022']

In [71]:
df_saldo['2022'] = ((df_pop['Crescimento Pop 2010-2022'] - df_pop['Crescimento Vegetativo 2010 a 2022']) / 12).round(0)

In [77]:
df_saldo = df_saldo.astype(int)
df_saldo.to_csv('../../br_demography/results/tab/saldo_migratorio_anual.csv', sep=';', decimal=',', encoding='utf-16')

In [24]:
(
    df_pop
    .reset_index()
    .groupby(by=['Município'])[[2022]]
    .sum()
)

                          2022
Município
Adrianópolis              6256
Agudos do Sul            10233
Almirante Tamandaré     119825
Araucária               151666
Balsa Nova               13395
Bocaiúva do Sul          13299
Campina Grande do Sul    47825
Campo Largo             136327
Campo Magro              30160
Campo do Tenente          7508
Cerro Azul               16134
Colombo                 232212
Contenda                 19128
Curitiba               1773718
Doutor Ulysses            5697
Fazenda Rio Grande      148873
Itaperuçu                31217
Lapa                     45003
Mandirituba              27439
Pinhais                 127019
Piraquara               118730
Piên                     13655
Quatro Barras            24191
Quitandinha              18398
Rio Branco do Sul        37558
Rio Negro                31324
São José dos Pinhais    329628
Tijucas do Sul           17621
Tunas do Paraná           6219

## Versão Original

In [11]:
df_emigration_2010 = mm.query_emigration_by_sex_age(mun_id=4125506, project_id=project_id)
df_emigration_2010 = mm.standard_age_groups(df=df_emigration_2010, age_group_csv_path='../../br_demography/source/tab/faixas_etarias_censo_2000_2010.csv')
print(df_emigration_2010.sum())
df_emigration_2010

Downloading: 100%|██████████| 151/151 [00:00<00:00, 472.81rows/s]

Peso    17572.015176
dtype: float64

                                  Peso
Sexo      Faixa Etária
Feminino  0 a 9 anos        851.104868
          10 a 19 anos     1862.462907
          20 a 29 anos     2104.799079
          30 a 39 anos     2113.455909
          40 a 49 anos      945.200576
          50 a 59 anos      584.163988
          60 a 69 anos      363.652692
          70 a 79 anos      127.786227
          80 anos ou mais    47.482221
Masculino 0 a 9 anos       1031.017653
          10 a 19 anos     1463.050411
          20 a 29 anos     1883.404714
          30 a 39 anos     1996.357163
          40 a 49 anos      994.074042
          50 a 59 anos      756.153361
          60 a 69 anos      319.895357
          70 a 79 anos      100.278330
          80 anos ou mais    27.675679

In [12]:
df_immigration_2010 = mm.query_immigration_by_sex_age(mun_id=4125506, project_id=project_id)
df_immigration_2010 = mm.standard_age_groups(df=df_immigration_2010, age_group_csv_path='../../br_demography/source/tab/faixas_etarias_censo_2000_2010.csv')
print(df_immigration_2010.sum())
df_immigration_2010

Downloading: 100%|██████████| 158/158 [00:00<00:00, 492.89rows/s]

Peso    42278.013782
dtype: float64

                                  Peso
Sexo      Faixa Etária
Feminino  0 a 9 anos       1848.448294
          10 a 19 anos     3809.449305
          20 a 29 anos     6158.404003
          30 a 39 anos     4692.532438
          40 a 49 anos     2219.688942
          50 a 59 anos     1224.530322
          60 a 69 anos      744.159626
          70 a 79 anos      318.192755
          80 anos ou mais   101.098137
Masculino 0 a 9 anos       2038.369550
          10 a 19 anos     3702.836286
          20 a 29 anos     5494.576097
          30 a 39 anos     5003.829450
          40 a 49 anos     2661.795551
          50 a 59 anos     1289.293916
          60 a 69 anos      615.445002
          70 a 79 anos      308.073700
          80 anos ou mais    47.290408

In [13]:
df_immigration_2000 = mm.query_immigration_by_sex_age_2000(mun_id=4125506, project_id=project_id)
df_immigration_2000 = mm.standard_age_groups(df=df_immigration_2000, age_group_csv_path='../../br_demography/source/tab/faixas_etarias_censo_2000_2010.csv')
print(df_immigration_2000.sum())
df_immigration_2000

Downloading: 100%|██████████| 159/159 [00:00<00:00, 386.82rows/s]

Peso    36720.018503
dtype: float64

                                  Peso
Sexo      Faixa Etária
Feminino  0 a 9 anos       2106.181942
          10 a 19 anos     3703.296473
          20 a 29 anos     5101.829473
          30 a 39 anos     3721.091898
          40 a 49 anos     1720.064059
          50 a 59 anos      918.181820
          60 a 69 anos      498.665733
          70 a 79 anos      211.292967
          80 anos ou mais    97.828150
Masculino 0 a 9 anos       2392.215589
          10 a 19 anos     3522.854820
          20 a 29 anos     5088.914143
          30 a 39 anos     4041.782185
          40 a 49 anos     1855.237730
          50 a 59 anos      960.510104
          60 a 69 anos      505.752297
          70 a 79 anos      219.535709
          80 anos ou mais    54.783411

In [14]:
df_emigration_2000 = mm.query_emigration_by_sex_age_2000(mun_id=4125506, project_id=project_id)
df_emigration_2000 = mm.standard_age_groups(df=df_emigration_2000, age_group_csv_path='../../br_demography/source/tab/faixas_etarias_censo_2000_2010.csv')
print(df_emigration_2000.sum())
df_emigration_2000

Downloading: 100%|██████████| 146/146 [00:00<00:00, 477.63rows/s]

Peso    9719.221228
dtype: float64

                                  Peso
Sexo      Faixa Etária
Feminino  0 a 9 anos        656.551694
          10 a 19 anos      896.779877
          20 a 29 anos     1252.137432
          30 a 39 anos      885.292356
          40 a 49 anos      598.921375
          50 a 59 anos      231.535103
          60 a 69 anos      156.398416
          70 a 79 anos       80.572836
          80 anos ou mais    67.800153
Masculino 0 a 9 anos        543.658480
          10 a 19 anos     1035.718608
          20 a 29 anos     1059.938562
          30 a 39 anos      937.061766
          40 a 49 anos      692.452060
          50 a 59 anos      372.790616
          60 a 69 anos      175.739964
          70 a 79 anos       62.491979
          80 anos ou mais    13.379951

In [15]:
df_saldo_2000 = ((df_immigration_2000 - df_emigration_2000) /5).round().astype(int)
print(df_saldo_2000.sum())
df_saldo_2000

Peso    5399
dtype: int64

                           Peso
Sexo      Faixa Etária
Feminino  0 a 9 anos        290
          10 a 19 anos      561
          20 a 29 anos      770
          30 a 39 anos      567
          40 a 49 anos      224
          50 a 59 anos      137
          60 a 69 anos       68
          70 a 79 anos       26
          80 anos ou mais     6
Masculino 0 a 9 anos        370
          10 a 19 anos      497
          20 a 29 anos      806
          30 a 39 anos      621
          40 a 49 anos      233
          50 a 59 anos      118
          60 a 69 anos       66
          70 a 79 anos       31
          80 anos ou mais     8

In [17]:
df_saldo_2010 = ((df_immigration_2010 - df_emigration_2010) /5).round().astype(int)
print(df_saldo_2010.sum())
df_saldo_2010

Peso    4941
dtype: int64

                           Peso
Sexo      Faixa Etária
Feminino  0 a 9 anos        199
          10 a 19 anos      389
          20 a 29 anos      811
          30 a 39 anos      516
          40 a 49 anos      255
          50 a 59 anos      128
          60 a 69 anos       76
          70 a 79 anos       38
          80 anos ou mais    11
Masculino 0 a 9 anos        201
          10 a 19 anos      448
          20 a 29 anos      722
          30 a 39 anos      601
          40 a 49 anos      334
          50 a 59 anos      107
          60 a 69 anos       59
          70 a 79 anos       42
          80 anos ou mais     4

In [8]:
df_saldo.to_csv(path_or_buf='./br_demography/results/tab/saldo_migratorio_anual_2000_2010_campina_2022_2044.csv', sep=';', decimal=',', encoding='utf-16')